doctype(html)
html(lang="es")
    title("JADE")
    include cabecera.html
    body
      h1 introducci&oacuten a JADE
      p
        es una plataforma software para el desarrollo de agentes, implementada en Java.
        La plataforma JADE soporta la coordinaci&oacuten de múltiples agentes
        FIPA y proporciona una implementación estándar del lenguaje de comunicaci&oacuten FIPA-ACL,
        que facilita la comunicaci&oacuten entre agentes y permite la detecci&oacuten de servicios que se proporcionan en el sistema.
        JADE fue desarrollado originalmente por Telecom Italia y se distribuye como software libre.
